html, body, .wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

html, body{
    font-size: 16px;
}

.title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(310deg, #5503bb 80%, #800156);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    text-shadow: none;
    font-weight: 500;
}

.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1rem 1rem;
    background: rgb(239,89,189);
    background: linear-gradient(90deg, rgba(239,89,189,1) 0%, rgba(239,89,189,1) 35%, rgba(149,91,228,1) 100%);
    color: azure;
    text-shadow: 0 0 5px black;
}

.description{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.description h1,p {
    width: 100%;
}

.content-text {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    background: linear-gradient(90deg, #5503bb, #800156);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    text-shadow: none;
    font-weight: 500;
}

.box-visual{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    min-height: min-content;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    color: #1a237e;
    text-shadow: none;
}

.visual{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    max-height: inherit;
    flex-grow: 0;
}

.visualization{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 404px;
    flex: 1 1 auto;
    overflow: auto;
    border-bottom: 1px solid #e0e0e0;
}

.messages{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
}

.messages .message{
    font-weight: 600;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}

.messages .message._active{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s linear;
}

.messages .error{
    color: red;
}

.messages .success{
    color: #00c20f;
}

.started-actions{
    margin-bottom: 0.4rem;
}

.methods{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-right: 1px solid #e0e0e0;
}

.methods > .row {
    margin-left: unset;
    width: 100%;
}

.methods > .row:not(:last-child){
    margin-bottom: 2rem;
}

.methods input{
    height: 1.2rem !important;
}

.box-method{
    display: flex;
    flex-direction: row;
}

.box-parameters{
    display: flex;
    flex-direction: row;
    width: 10rem;
}

.press-enter{
    width: max-content;
    color: #26a69a;
    font-size: 0.785rem;
    line-height: 1rem;
    padding-left: 0.4rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}

.press-enter._active{
    opacity: 1;
    visibility: visible;
}

/* Object styles */
.object p{
    margin-bottom: 0.2rem;
}

.object._active > .object__name:before{
    transform: rotate(0deg);
}

.object._active > .object__body{
    display: block;
}

.object__name{
    padding-left: 1rem;
    position: relative;
    cursor: pointer;
}

.object__name > span{
    font-weight: 600;
}

.object__name:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 4px;
    left: 4px;
    transform: rotate(-90deg);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #959595;
}

.object__body{
    display: none;
    padding-left: 1.5rem;
}

.object__string{
    color: darkgreen;
    white-space: nowrap;
}

.object__value{
    color: #e65100;
}

/*.object__item{*/

/*}*/

/*.object__key{*/

/*}*/


/* Edition materialize */
.input-field{
    margin-top: 0;
    margin-bottom: 0;
}

.input-field.inline input, .input-field.inline .select-dropdown{
    margin-bottom: 0;
}

.input-field > label{
    transform: translateY(0px);
}

.input-field > label.two-strings{
    transform: translateY(-16px);
}

.input-field > label.two-strings.active{
    -webkit-transform: translateY(-26px) scale(0.8);
    transform: translateY(-26px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.wrapper::-webkit-scrollbar,
.visualization::-webkit-scrollbar{
    width: 12px;               /* ширина scrollbar */
}
.wrapper::-webkit-scrollbar-track {
    background: #975BE3;        /* цвет дорожки */
}
.wrapper::-webkit-scrollbar-thumb{
    background-color: #800156;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #975BE3;  /* padding вокруг плашки */
}
.visualization::-webkit-scrollbar-track {
    background: #ffffff;        /* цвет дорожки */
}

.visualization::-webkit-scrollbar-thumb {
    background-color: #800156;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #ffffff;  /* padding вокруг плашки */
}
